/* src/components/Header.css */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
  }
  
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
  }
  
  .nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding-right: 25px;
  }
  
  .nav.open {
    display: block;
    position: absolute;
    top: 60px; /* Adjust based on header height */
    right: 0;
    background-color: rgba(51, 51, 51, 0.9);
    width: 200px; /* Adjust as needed */
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .nav-link {
    display: block;
    margin: 10px 0;
  }
  
  @media (max-width: 768px) {
    .menu-toggle {
      display: flex;
    }
  
    .nav {
      display: none; /* Hide nav by default */
    }
  
    .nav.open {
      display: block;
    }
  }
  