/* src/App.css */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background: url('https://images.unsplash.com/photo-1513530534585-c7b1394c6d51?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed;
  background-size: cover; /* Ensures the image covers the entire page */
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

